@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.reveal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.navbar {
  background: #f2faef;
  max-width: 100%;
  padding: 2em 1.5em 1.5em 1.5em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (min-width: 850px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 5em;
  }
}

.navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
}

@media screen and (min-width: 850px) {
  .navbar__left {
    max-width: 10rem;
    margin: 0;
  }
}

.navbar__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .navbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 40%;
  }
}

.navbar__right li {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .navbar__right li {
    max-width: 9rem;
  }
}

.navbar__brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar__brand:link, .navbar__brand:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__brand:focus {
  color: #C08552;
}

.navbar__brand:hover {
  color: #C08552;
}

.navbar__brand:active {
  color: #C08552;
}

@media screen and (min-width: 850px) {
  .navbar__brand {
    font-size: 1.25rem;
  }
}

.navbar .link {
  padding: 1.5em .5em;
  display: inline-block;
  width: 100%;
}

.navbar .link:link, .navbar .link:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar .link:focus {
  color: #C08552;
}

.navbar .link:hover {
  color: #C08552;
}

.navbar .link:active {
  color: #C08552;
}

.navbar .link:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 850px) {
  .navbar .link {
    padding: 0 1em;
  }
}

.navbar .btn {
  display: none;
}

@media screen and (min-width: 850px) {
  .navbar .btn {
    display: inline-block;
    max-width: 100%;
  }
}

.navbar__menu-icon {
  max-width: 2rem;
  cursor: pointer;
  color: #457b9d;
}

.navbar__menu-icon:link, .navbar__menu-icon:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__menu-icon:focus {
  color: #C08552;
}

.navbar__menu-icon:hover {
  color: #C08552;
}

.navbar__menu-icon:active {
  color: #C08552;
}

@media screen and (min-width: 850px) {
  .navbar__menu-icon {
    display: none;
  }
}

.btn {
  padding: .5em 1.5em;
  cursor: pointer;
  font-weight: 600;
  border: 4px solid #457b9d;
  background: #f2faef;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn:link, .btn:visited {
  color: #457b9d;
}

.btn:focus {
  color: #C08552;
}

.btn:hover {
  background: #457b9d;
  color: #f2faef;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  background: #f2faef;
  max-width: 100%;
  padding: 2em 1.5em 1.5em 1.5em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (min-width: 850px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 5em;
  }
}

.navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
}

@media screen and (min-width: 850px) {
  .navbar__left {
    max-width: 10rem;
    margin: 0;
  }
}

.navbar__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .navbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 40%;
  }
}

.navbar__right li {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .navbar__right li {
    max-width: 9rem;
  }
}

.navbar__brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar__brand:link, .navbar__brand:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__brand:focus {
  color: #C08552;
}

.navbar__brand:hover {
  color: #C08552;
}

.navbar__brand:active {
  color: #C08552;
}

@media screen and (min-width: 850px) {
  .navbar__brand {
    font-size: 1.25rem;
  }
}

.navbar .link {
  padding: 1.5em .5em;
  display: inline-block;
  width: 100%;
}

.navbar .link:link, .navbar .link:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar .link:focus {
  color: #C08552;
}

.navbar .link:hover {
  color: #C08552;
}

.navbar .link:active {
  color: #C08552;
}

.navbar .link:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 850px) {
  .navbar .link {
    padding: 0 1em;
  }
}

.navbar .btn {
  display: none;
}

@media screen and (min-width: 850px) {
  .navbar .btn {
    display: inline-block;
    max-width: 100%;
  }
}

.navbar__menu-icon {
  max-width: 2rem;
  cursor: pointer;
  color: #457b9d;
}

.navbar__menu-icon:link, .navbar__menu-icon:visited {
  text-decoration: none;
  color: #457b9d;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__menu-icon:focus {
  color: #C08552;
}

.navbar__menu-icon:hover {
  color: #C08552;
}

.navbar__menu-icon:active {
  color: #C08552;
}

@media screen and (min-width: 850px) {
  .navbar__menu-icon {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */