@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.reveal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f2faef;
  padding: 2em 1.5em 1.5em 1.5em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (min-width: 850px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 5em;
  }
}

.navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
}

@media screen and (min-width: 850px) {
  .navbar__left {
    max-width: 10rem;
    margin: 0;
  }
}

.navbar__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .navbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 40%;
  }
}

.navbar__right li {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .navbar__right li {
    max-width: 9rem;
  }
}

.navbar__brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar__brand:link, .navbar__brand:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__brand:focus {
  color: #685131;
}

.navbar__brand:hover {
  color: #685131;
}

.navbar__brand:active {
  color: #685131;
}

@media screen and (min-width: 850px) {
  .navbar__brand {
    font-size: 1.25rem;
  }
}

.navbar .link {
  padding: 1.5em .5em;
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

.navbar .link:link, .navbar .link:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar .link:focus {
  color: #685131;
}

.navbar .link:hover {
  color: #685131;
}

.navbar .link:active {
  color: #685131;
}

.navbar .link:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 850px) {
  .navbar .link {
    padding: 0 1em;
  }
}

.navbar .btn {
  display: none;
}

@media screen and (min-width: 850px) {
  .navbar .btn {
    display: inline-block;
    max-width: 100%;
  }
}

.navbar__menu-icon {
  max-width: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  color: #325971;
}

.navbar__menu-icon:link, .navbar__menu-icon:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__menu-icon:focus {
  color: #685131;
}

.navbar__menu-icon:hover {
  color: #685131;
}

.navbar__menu-icon:active {
  color: #685131;
}

@media screen and (min-width: 850px) {
  .navbar__menu-icon {
    display: none;
  }
}

.hero {
  color: #325971;
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  max-width: 100%;
  background: #f2faef;
  height: 75vh;
  place-items: center;
}

.hero__btn {
  padding: .5em 1.5em;
  display: inline-block;
}

.hero__text {
  padding: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1 / 12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / 12;
}

@media screen and (min-width: 850px) {
  .hero__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
    padding-left: 0;
  }
}

.hero__text__header {
  margin-bottom: 1.5rem;
}

.hero__text__sub-header {
  font-weight: 600;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 850px) {
  .hero__image {
    display: inline-block;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    grid-row: 1 / 12;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hero__btn {
  color: #325971;
  margin-top: 1.5rem;
}

.services {
  background: #325971;
  color: #f2faef;
  padding: 3em;
  height: 1000px;
  margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 850px) {
  .services {
    height: 33rem;
  }
}

.services__header {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 300px;
  text-align: center;
}

.services__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 850px) {
  .services__overview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__overview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 15rem;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .services__overview__item {
    width: 30%;
  }
}

.services__overview__item__icon {
  margin-bottom: 1.5rem;
}

.services__overview__item__header {
  margin-bottom: .5rem;
}

.gallery {
  height: 180rem;
  max-width: 100%;
  background: #f2faef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__header {
  color: #325971;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2em 0;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media screen and (min-width: 830px) {
  .gallery__header {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.gallery img {
  width: 100%;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  margin-bottom: 2em;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media screen and (min-width: 1200px) {
  .gallery {
    height: 85rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 192px (1fr)[10];
        grid-template-rows: 192px repeat(10, 1fr);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-items: center;
    gap: 1rem;
  }
  .gallery img {
    max-width: 450px;
    margin-bottom: 0;
  }
  .gallery__header {
    padding: 0;
  }
  .gallery__img--01 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .gallery__img--02 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / 7;
  }
  .gallery__img--03 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .gallery__img--04 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
  }
  .gallery__img--05 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 5;
    -ms-grid-row-span: 6;
    grid-row: 5 / 11;
  }
  .gallery__img--06 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 7;
    -ms-grid-row-span: 5;
    grid-row: 7 / 12;
  }
  .gallery__img--07 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / 10;
  }
}

.contact {
  color: #f2faef;
  background: #325971;
  height: 55rem;
  max-width: 100%;
}

.contact__header {
  display: block;
  text-align: center;
  padding: 2em 0 .75em 0;
}

.contact__sub-header {
  margin-bottom: .75rem;
}

.contact .btn {
  margin-bottom: .75rem;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__group, .contact__address, .contact__hours {
  text-align: left;
  width: 15rem;
}

.contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 11.5rem;
}

.contact__address {
  height: 12rem;
}

.contact td {
  text-align: right;
  padding-left: 2.25rem;
}

@media screen and (min-width: 850px) {
  .contact {
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__header {
    padding: 0;
    margin-bottom: 2em;
  }
  .contact__info {
    height: 15rem;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__social {
    margin: 0;
    width: 85%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__social__icon {
    margin-right: 3rem;
    -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
  }
  .contact__social__icon:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer {
  padding: 2.5em;
  background: #f2faef;
  color: #325971;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer__credits {
  color: currentColor;
  text-decoration: none;
  text-align: center;
}

.footer__credits:hover {
  text-decoration: underline;
}

.btn {
  padding: .5em 1.5em;
  cursor: pointer;
  font-weight: 600;
  border: 3px solid #325971;
  background: #f2faef;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn:link, .btn:visited {
  color: #325971;
}

.btn:focus {
  color: #685131;
}

.btn:hover {
  background: #325971;
  color: #f2faef;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn--block {
  border-radius: 0;
  padding: .75em 1.5em;
  border: 3px solid #f2faef;
  color: #325971;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f2faef;
  padding: 2em 1.5em 1.5em 1.5em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (min-width: 850px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2em 5em;
  }
}

.navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
}

@media screen and (min-width: 850px) {
  .navbar__left {
    max-width: 10rem;
    margin: 0;
  }
}

.navbar__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .navbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 40%;
  }
}

.navbar__right li {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .navbar__right li {
    max-width: 9rem;
  }
}

.navbar__brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar__brand:link, .navbar__brand:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__brand:focus {
  color: #685131;
}

.navbar__brand:hover {
  color: #685131;
}

.navbar__brand:active {
  color: #685131;
}

@media screen and (min-width: 850px) {
  .navbar__brand {
    font-size: 1.25rem;
  }
}

.navbar .link {
  padding: 1.5em .5em;
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

.navbar .link:link, .navbar .link:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar .link:focus {
  color: #685131;
}

.navbar .link:hover {
  color: #685131;
}

.navbar .link:active {
  color: #685131;
}

.navbar .link:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 850px) {
  .navbar .link {
    padding: 0 1em;
  }
}

.navbar .btn {
  display: none;
}

@media screen and (min-width: 850px) {
  .navbar .btn {
    display: inline-block;
    max-width: 100%;
  }
}

.navbar__menu-icon {
  max-width: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  color: #325971;
}

.navbar__menu-icon:link, .navbar__menu-icon:visited {
  text-decoration: none;
  color: #325971;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar__menu-icon:focus {
  color: #685131;
}

.navbar__menu-icon:hover {
  color: #685131;
}

.navbar__menu-icon:active {
  color: #685131;
}

@media screen and (min-width: 850px) {
  .navbar__menu-icon {
    display: none;
  }
}

.hero {
  color: #325971;
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  max-width: 100%;
  background: #f2faef;
  height: 75vh;
  place-items: center;
}

.hero__btn {
  padding: .5em 1.5em;
  display: inline-block;
}

.hero__text {
  padding: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1 / 12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2 / 12;
}

@media screen and (min-width: 850px) {
  .hero__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
    padding-left: 0;
  }
}

.hero__text__header {
  margin-bottom: 1.5rem;
}

.hero__text__sub-header {
  font-weight: 600;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 850px) {
  .hero__image {
    display: inline-block;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    grid-row: 1 / 12;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hero__btn {
  color: #325971;
  margin-top: 1.5rem;
}

.services {
  background: #325971;
  color: #f2faef;
  padding: 3em;
  height: 1000px;
  margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 850px) {
  .services {
    height: 33rem;
  }
}

.services__header {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 300px;
  text-align: center;
}

.services__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 850px) {
  .services__overview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services__overview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 15rem;
  text-align: center;
}

@media screen and (min-width: 850px) {
  .services__overview__item {
    width: 30%;
  }
}

.services__overview__item__icon {
  margin-bottom: 1.5rem;
}

.services__overview__item__header {
  margin-bottom: .5rem;
}

.gallery {
  height: 180rem;
  max-width: 100%;
  background: #f2faef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__header {
  color: #325971;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2em 0;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media screen and (min-width: 830px) {
  .gallery__header {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.gallery img {
  width: 100%;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  margin-bottom: 2em;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media screen and (min-width: 1200px) {
  .gallery {
    height: 85rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 192px (1fr)[10];
        grid-template-rows: 192px repeat(10, 1fr);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-items: center;
    gap: 1rem;
  }
  .gallery img {
    max-width: 450px;
    margin-bottom: 0;
  }
  .gallery__header {
    padding: 0;
  }
  .gallery__img--01 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .gallery__img--02 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2 / 7;
  }
  .gallery__img--03 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
  }
  .gallery__img--04 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
  }
  .gallery__img--05 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 5;
    -ms-grid-row-span: 6;
    grid-row: 5 / 11;
  }
  .gallery__img--06 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 7;
    -ms-grid-row-span: 5;
    grid-row: 7 / 12;
  }
  .gallery__img--07 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / 10;
  }
}

.contact {
  color: #f2faef;
  background: #325971;
  height: 55rem;
  max-width: 100%;
}

.contact__header {
  display: block;
  text-align: center;
  padding: 2em 0 .75em 0;
}

.contact__sub-header {
  margin-bottom: .75rem;
}

.contact .btn {
  margin-bottom: .75rem;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__group, .contact__address, .contact__hours {
  text-align: left;
  width: 15rem;
}

.contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 11.5rem;
}

.contact__address {
  height: 12rem;
}

.contact td {
  text-align: right;
  padding-left: 2.25rem;
}

@media screen and (min-width: 850px) {
  .contact {
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__header {
    padding: 0;
    margin-bottom: 2em;
  }
  .contact__info {
    height: 15rem;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__social {
    margin: 0;
    width: 85%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__social__icon {
    margin-right: 3rem;
    -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.3s ease-in-out;
  }
  .contact__social__icon:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer {
  padding: 2.5em;
  background: #f2faef;
  color: #325971;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer__credits {
  color: currentColor;
  text-decoration: none;
  text-align: center;
}

.footer__credits:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}
/*# sourceMappingURL=main.css.map */