// VARIABLES
$color-primary: #f2faef;
// CONTRAST COMPLIANT BLUE COLOR
$color-secondary: #325971;
// $color-secondary: #457b9d; OG BLUE COLOR
$color-accent: #685131;
$color-black: #333;
$color-white: #f2f2f2;



// UTILITY CLASSES
.reveal {
  display: flex;
}

.hidden {
  display: none;
}

// PADDING
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// MARGIN



// MIXINS
@mixin link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-secondary;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  &:focus {
    color:  $color-accent;
  }

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-accent;
  }
}

// FIXING LINKS WITH TOP FIXED HEADER 
.anchor {
  position: relative;
}

.anchor a
{
  position: absolute;
  left: 0px;
  top: -88px;

  @media screen and (min-width: 850px) {
    top: -111.6px;
  }
}