// VARIABLES
$color-primary: #f2faef;
$color-secondary: #457b9d;
$color-accent: #C08552;
// $color-accent: #a8dadc;
$color-black: #333;
$color-white: #f2f2f2;



// UTILITY CLASSES
.reveal {
  display: flex;
}

.hidden {
  display: none;
}

// PADDING
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// MARGIN



// MIXINS
@mixin link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-secondary;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  &:focus {
    color:  $color-accent;
  }

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-accent;
  }
}