// BUTTON

.btn {
  padding: .5em 1.5em;
  cursor: pointer;
  font-weight: 600;
  border: 3px solid $color-secondary;
  background: $color-primary;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:link,
  &:visited {
    color: $color-secondary;
  }
    
  &:focus {
    color: $color-accent;
  }

  &:hover {
    background: $color-secondary;
    color: $color-primary;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }
}

.btn--block {
    border-radius: 0;
    padding: .5em 0;
    border: 3px solid $color-primary;
    display: block;
    max-width: 11rem;
    color: $color-secondary;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover {
      text-decoration: underline;
      color: $color-secondary;
      background: $color-primary;
    }
}