// NAVIGATION
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color-primary;
  padding: 2em 1.5em 1.5em 1.5em;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  @media screen and (min-width: 850px) {
    flex-direction: row;
    padding: 2em 5em;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;

    @media screen and (min-width:850px) {
      max-width: 10rem;
      // width: auto;
      margin: 0;
    }
  }

  &__right {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 850px) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      max-width: 40%;
    }

    li {
      width: 100%;
      text-align: center;

      @media screen and (min-width: 850px) {
        max-width: 9rem;
      }
    }
  }

  &__brand {
    @include link;
    font-weight: 600;
    font-size: 1rem;
    // padding-bottom: 1.5em;

    @media screen and (min-width: 850px) {
      font-size: 1.25rem;
    }
  }

  & .link {
    @include link;
    padding: 1.5em .5em;
    display: inline-block;
    width: 100%;
    font-weight: 600;

    &:last-child {
      padding-bottom: 0;
    }

    @media screen and (min-width: 850px) {
      padding: 0 1em;
    }
  }

  & .btn {
    display: none;

    @media screen and (min-width: 850px) {
      display: inline-block;
      max-width: 100%;
    }
  }

  &__menu-icon {
    @include link;
    max-width: 1.75rem;
    font-weight: 600;
    cursor: pointer;
    color: $color-secondary;

    @media screen and (min-width: 850px) {
      display: none;
    }
  }
}

// HERO LANDING PAGE
.hero {
  color: $color-secondary;
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  max-width: 100%;
  background: $color-primary;
  height: 75vh;
  place-items: center;

  &__btn {
    padding: .5em 1.5em;
    display: inline-block;
  }

  &__text {
    padding: 2rem;
    grid-column: 1 / 12;
    grid-row: 2 / 12;
    
    @media screen and (min-width: 850px) {
      grid-column: 2 / 8;
      padding-left: 0;
    }
    
    &__header {
      margin-bottom: 1.5rem;
    }

    &__sub-header {
      font-weight: 600;
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: 850px) {
      display: inline-block;
      grid-column: 9 / 12;
      grid-row: 1 / 12;
      height: auto;
      // width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    color: $color-secondary;
    margin-top: 1.5rem;
  }
}

// SERVICES SECTION
.services {
  background: $color-secondary;
  color: $color-primary;
  padding: 3em;
  height: 1000px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 850px) {
    height: 33rem;
  }

  &__header {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 300px;
    text-align: center;
  }

  &__overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    // align-items: center;

    @media screen and (min-width: 850px) {
      flex-direction: row;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 15rem;
      text-align: center;

      @media screen and (min-width: 850px) {
        width: 30%;
      }

      &__icon {
        margin-bottom: 1.5rem;
      }

      &__header {
        margin-bottom: .5rem;
      }
    }
  }
}

// GALLERY
.gallery {
  height: 180rem;
  max-width: 100%;
  background: $color-primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;

  &__header {
    color: $color-secondary;
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 2em 0;
    grid-column: 5 / 9;
    grid-row: 1 / 2;

    @media screen and (min-width: 830px) {
      padding: 0;
      align-self: center;
    }
  }
  
  img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    max-height: 100%;
    margin-bottom: 2em;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  // img:not(:last-child) {
  //   margin-bottom: 2em;
  // }

  @media screen and (min-width: 1200px) {
    height: 85rem;
    display: grid;
    grid-template-rows: 192px repeat(10, 1fr);
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    justify-items: center;
    gap: 1rem;

    img {
      max-width: 450px;
      margin-bottom: 0;
    }
    
    &__header {
      padding: 0;
      // padding-top: 1rem;
    }

    &__img--01 {
      grid-column: 2 / 5;
      grid-row: 2 / 5;
    }

    &__img--02 {
      grid-column: 9 / 12;
      grid-row: 2 / 7;
    }

    &__img--03 {
      grid-column: 5 / 9;
      grid-row: 2 / 5;
    }

    &__img--04 {
      grid-column: 2 / 5;
      grid-row: 5 / 7;
    }

    &__img--05 {
      grid-column: 5 / 9;
      grid-row: 5 / 11;
    }

    &__img--06 {
      grid-column: 9 / 12;
      grid-row: 7 / 12;
    }
    &__img--07 {
      grid-column: 2 / 5;
      grid-row: 7 / 10;
    }
  }
}

// CONTACT SECTION
.contact {
  color: $color-primary;
  background: $color-secondary;
  height: 55rem;
  max-width: 100%;

  &__header {
    display: block;
    text-align: center;
    padding: 2em 0 .75em 0;
  }

  &__sub-header {
    margin-bottom: .75rem;
  }

  & .btn {
    margin-bottom: .75rem;
  }

  &__info {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__social {
    display: flex;
    width: 13rem;
    // margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  &__group,
  &__address,
  &__hours {
    text-align: left;
    width: 15rem;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 11.5rem;
  }

  &__address {
    height: 12rem;
  }

  td {
    text-align: right; 
    padding-left: 2.25rem;
  }

  @media screen and (min-width: 850px) {
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
      padding: 0;
      margin-bottom: 2em;
      // padding-top: 0.5em;
    }

    &__info {
      height: 15rem;
      width: 85%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__social {
      margin: 0;
      width: 85%;
      // height: 15rem;
      justify-content: flex-start;
      align-items: center;
      
      &__icon {
        margin-right: 3rem;
        transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
                    transform 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
          transform: scale(1.1);
        }
      }
    }
  }
}

// FOOTER
.footer {
  padding: 2.5em;
  background: $color-primary;
  color: $color-secondary;
  display: grid;
  place-items: center;

  &__credits {
    color: currentColor;
    text-decoration: none;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}